@use '../variables'
@use '../mixins'


.technologies-container
    margin-bottom: 1rem

    .technologies-grid
        display: flex
        flex-wrap: wrap
        gap: 1.5rem

    .technology-card
        @include mixins.center
        gap: 1rem
        padding: 1rem
        width: 85%
        border-radius: variables.$card-border-radius
        background-color: #aec2b6
        
        h3
            color: variables.$text-color
            margin-bottom: 1rem

        svg
            font-size: 6rem
            min-width: 6rem

    #html
        svg
            color: #E44D26
            filter: drop-shadow(3px 5px 2px rgb(0 0 0 / 0.4))
            

    #css
        svg
            color: #1572B6
            filter: drop-shadow(3px 5px 2px rgb(0 0 0 / 0.4))
    #js
        svg
            color: #F0DB4F
            filter: drop-shadow(3px 5px 2px rgb(0 0 0 / 0.4))
    #node
        svg
            color: #83CD29
            filter: drop-shadow(3px 5px 2px rgb(0 0 0 / 0.4))
    #mysql
        svg
            color: #00618A
            filter: drop-shadow(3px 5px 2px rgb(0 0 0 / 0.4))
    #react
        svg
            color: #61DAFB
            filter: drop-shadow(3px 5px 2px rgb(0 0 0 / 0.4))
    #linux
        svg
            color: #000000
            filter: drop-shadow(3px 5px 2px rgb(0 0 0 / 0.4))
    #database
        svg
            color: #3a0ebe
            filter: drop-shadow(3px 5px 2px rgb(0 0 0 / 0.4))